{% extends 'base.html' %}
{% load static %}
{% block title %}Contact{% endblock title %}

{% block 'main' %}
<!-- ROW 2 STARTS -->
<div class="container mt-5">
    <div class="py-3 shadow row mx-auto col-md-5 bg-success-subtle rounded-4">
        <form action="" method="POST">
            <div class="mb-3">
                <label for="input1" class="form-label"><strong> Name : </strong></label>
                <input type="text" class="form-control" id="input1" placeholder="Your Name" required>
            </div>
            <div class="mb-3">
                <label for="input2" class="form-label"><strong> Email Address : </strong></label>
                <input type="email" class="form-control" id="input2" placeholder="sample@email.com" required>
            </div>
            <div class="mb-3">
                <label for="input3" class="form-label"><strong> Contact Number : </strong></label>
                <input type="tel" class="form-control" id="input3">
            </div>
            <div class="mb-3">
                <label for="textarea1" class="form-label"><strong> Message : </strong></label>
                <textarea class="form-control" id="textarea1" rows="4"></textarea>
            </div>
            <div class="mb-3 text-center">
                <input type="submit" class="btn btn-success" value="Submit">
            </div>
        </form>
    </div>
</div>
<!-- ROW 2 ENDS -->
{% endblock 'main' %}